#parse("src/test/resources/array.java.vm")
package com.bec.reporting.tests;


import java.util.Properties;
import org.junit.runner.RunWith;
import cucumber.api.CucumberOptions;
import cucumber.api.Scenario;
import cucumber.api.junit.Cucumber;

@RunWith(Cucumber.class)
@CucumberOptions(
features = {"$featureFile"},
glue= {"com.bec.reporting.steps"},
plugin = { "pretty", 
		   "html:target/cucumber-reports",
		   "com.bec.reporting.utils.ExtentCucumberFormatter:target/cucumber-reports/extent_report/report.html",
		   "json:target/cucumber-reports/json_report/Cucumber.json",
		   "junit:target/cucumber-reports/junit_xml_report/Cucumber.xml"
		   },
tags = {"@Feature"},
monochrome = true
)
public class $className {
	public static Properties config;
	public static Scenario scenario;
}
